.label {
    display: block;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 10px;
}

.vehicleInput {
    display: flex;
    border-radius: 20px;
    background: #E5E5E5;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 20px;

    .item {
        cursor: pointer;
        text-align: center;
        height: 85px;

        .label {
            color: #757575;
            font-size: 16px;
            font-style: normal;
            line-height: normal;
            margin: 0;
            line-height: 1px;
        }

        &.selected {
            .label {
                color: #FF8F00;
                font-weight: bold;
            }

            svg path {
                stroke: #FF8F00 !important;
            }

            &:not(:nth-child(1)) {
                svg path {
                    fill: #FF8F00 !important;
                }
            }
        }
    }
}