.button {
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 24px;
    background: linear-gradient(0deg, #FF8F00 1.25%, #FFC107 100.38%);
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 40px;
    display: flex;
    align-items: center;

    &.withIcon {
        padding: 5px 20px;

        .icon {
            width: 50px;
        }

        &.fullWidth {
            .icon {
                width: 20px;
            }
        }

        .label {
            width: 100%;
        }
    }

    &.fullWidth {
        width: 100%;
        text-align: center;
    }
}