.wrapper {
    margin: auto;
    max-width: 450px;

    .card {
        margin-top: 10vh;
        border-radius: 40px;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2px);
        padding: 20px 45px;

        .header {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;

            .icon {
                pointer-events: none;
            }

            .caption {
                display: block;
                color: #2F2D3D;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}