.label {
    display: block;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 10px;
    text-align: left;
}

.selectInput {
    border-radius: 20px;
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
    padding: 10px 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    transition: border-color 0.3s ease-in-out;

    &.sizeSamll {
        padding: 5px 10px;
    }

    &.invalid {
        border-color: red;
    }

    .icon {
        align-items: center;
        margin-top: 5px;
        margin-right: 10px;
        pointer-events: none;
    }

    select {
        width: 95%;
        outline: none;
        border: 0;
        background-color: transparent;
        font-size: 16px;

        &::placeholder {
            color: #9D9D9D;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }


    &.withIcon {
        select {
            width: 85%;
        }
    }
}