@font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html {
    background: url(/images/wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.dimmed {
    color: #686868;
}

.swal-modal {
    border-radius: 40px;
}

.swal-footer {
    text-align: center;
}

.swal-button {
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 24px;
    background: linear-gradient(0deg, #FF8F00 1.25%, #FFC107 100.38%);
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px 40px;
    display: flex;
    align-items: center;

    &.swal-button--cancel {
        background: linear-gradient(0deg, #ccc 1.25%, #C7C7C7 100.38%);
    }
}